<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add_tasks</title>
</head>
<body>
    <h1><center>TO-DO-APP</center></h1>
    <h2>add tasks</h2>
    <form action="/add_tasks" method="POST">
        <input type="text" name="title" placeholder="enter a task">
        <input type="number" name="completed" placeholder="enter 0 for incompleted ,1 for completed" >
        <button type="submit">Add</button>
    </form>
    
</body>
</html>