<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO-DO-APP</title>
</head>
<body >
    
    <nav>
        <a href="{{url_for('add')}} ">add tasks</a><br>
        <a href="{{url_for('get_tasks')}}">view tasks</a><br>
        <a href="{{url_for('logout')}}">LOGOUT</a>
    </nav>
    
    {%block content%}{%endblock%}
    {% with messages=get_flashed_messages()%}
    {%if messages%}
        {% for i in messages%}
            {{i}}
        {% endfor%} 
    {%endif%}
    {%endwith%} 
   
</body>
</html>
